body {
  margin: 0px;
  font-family: "Trebuchet MS";
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-size: auto;
  overflow: auto;
}
.input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: auto;
  height: 75%;
  width: 80%;
  padding-bottom: 2.5rem;
}

.input_recipe {
  resize: none;
  margin: 7px;
  justify-content: right;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: 50px;
  width: fit-content;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "Trebuchet MS";
  font-weight: 25;
  font-size: medium;
}

#recipe_title {
  height: 5%;
  width: 50%;
  text-align: center;
}

#recipe_info {
  height: 20%;
  width: 98%;
}

.ingDir {
  display: flex;
  flex-direction: row;
  height: 75%;
  width: 100%;
  justify-content: center;
}

#ingredient_list {
  height: 90%;
  width: 25%;
}

#directions {
  height: 90%;
  width: 75%;
}

#submit_button {
  align-self: center;
  background-color: #fff;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#submit_button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.submit_button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

#footer {
  position: absolute;
  margin-top: auto;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 12px;
}
